header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #f8f5f5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 900;
}

.nav-link {
  color: #166088;
  text-decoration: none;
  padding: 8px 16px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.nav-link.active {
  border-bottom: 2px solid rgba(193, 88, 72, 1);
  font-weight: bold;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
    color: #0f405b;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #f8f5f5;
    width: 100%;
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: #166088;
    font-weight: 450;
    font-family: Arial;
}

.login-btn {
    display: flex;
    justify-content: center;
    background: rgba(193, 88, 72, 1);
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    font-family: Arial;
    border-radius: 5px;
    margin-right: 21px;
    margin-left: 20px;
    cursor: pointer;
    text-wrap: nowrap;
    width: 88px;
    height: 33px;
    text-decoration: none;
}

.login-link {
    text-decoration: none;
}

.login-btn:hover {
    background: rgb(148, 55, 41);
}

.logout-btn {
    display: flex;
    justify-content: center;
    background: rgb(84, 75, 72);
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    font-family: Arial;
    border-radius: 5px;
    margin-right: 21px;
    margin-left: 20px;
    cursor: pointer;
    text-wrap: nowrap;
    width: 88px;
    height: 33px;
}

.logout-btn:hover {
    background: rgb(56, 50, 48);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 80px;
    background: #f8f5f5;
    text-align: center;
}

footer {
    position: relative;
    text-align: center;
    padding: 20px;
    background: #262525;
    color: rgb(228, 233, 237);
    margin-top: auto;
}